Install-WindowsUpdate -AcceptEula
 
choco install 7zip.commandline
choco install linqpad4
choco install notepad2-mod
choco install sourcetree
choco install wincommandpaste
choco install kdiff3
choco install markdownpad2
 
choco install dropbox
choco install filezilla
choco install googledrive
 
choco install git-credential-winstore
choco install git
choco install gitpad
choco install git-flow-dependencies
 
choco install VisualStudioCommunity2013
choco install VS2013SDK
choco install ncrunch2.vs2013
choco install resharper

# Add packages to allow Visual Studio to work with Node, NPM & Gulp.
#
# Reference: http://www.hanselman.com/blog/IntroducingGulpGruntBowerAndNpmSupportForVisualStudio.aspx
# ---------------------------------------------------------------------------------------------------
#
# todo: Install TRX - Task Runner http://visualstudiogallery.msdn.microsoft.com/8e1b4368-4afb-467a-bc13-9650572db708
# todo: Install NPM/NBower Package Intellisense - http://visualstudiogallery.msdn.microsoft.com/65748cdb-4087-497e-a394-2e3449c8e61e
#
# Reference: http://www.johnpapa.net/get-up-and-running-with-node-and-visual-studio/
choco install nodejs.install
npm install bower -g
npm install -g gulp grunt-cli
npm install -g yo
npm install -g generator-hottowel

Install-WindowsUpdate -AcceptEula
