Install-WindowsUpdate -AcceptEula
 
choco install notepad2-mod
choco install sourcetree
choco install wincommandpaste
choco install linqpad4
 
choco install dropbox
choco install filezilla
choco install googledrive
 
choco install git-credential-winstore
choco install git
choco install gitpad
 
choco install VisualStudio2013Professional
choco install VS2013.3
choco install VS2013SDK
choco install ncrunch2.vs2013
choco install resharper
 
Install-WindowsUpdate -AcceptEula
