$ErrorActionPreference = "Stop"
$WarningPreference = "Continue"
$VerbosePreference = "SilentlyContinue"

Write-Host
Write-Host "Enabling and running Windows Update..." -ForegroundColor Yellow
Write-Host "--------------------------------------" -ForegroundColor Yellow
Write-Host
Enable-MicrosoftUpdate
Install-WindowsUpdate -AcceptEula

Write-Host
Write-Host "Configuring Windows..." -ForegroundColor Yellow
Write-Host "----------------------" -ForegroundColor Yellow
Write-Host
Set-StartScreenOptions -EnableBootToDesktop -EnableDesktopBackgroundOnStart -EnableShowStartOnActiveScreen -EnableListDesktopAppsFirst
Set-WindowsExplorerOptions -EnableShowHiddenFilesFoldersDrives -DisableShowProtectedOSFiles -EnableShowFileExtensions -DisableShowFullPathInTitleBar
Enable-RemoteDesktop
cinst Microsoft-Hyper-V-All -source windowsFeatures

Write-Host
Write-Host "Installing tools..." -ForegroundColor Yellow
Write-Host "-------------------" -ForegroundColor Yellow
Write-Host
choco install 7zip
choco install 7zip.commandline
choco install fiddler4
choco install filezilla
choco install kdiff3
choco install linqpad4
choco install markdownpad2
choco install notepad2-mod
choco install sourcetree
choco install tortoisemerge
choco install wincommandpaste

Write-Host
Write-Host "Installing browsers..." -ForegroundColor Yellow
Write-Host "----------------------" -ForegroundColor Yellow
Write-Host
choco install googlechrome
choco install firefox
choco install safari
choco install lastpass

Write-Host
Write-Host "Installing cloud storage packages..." -ForegroundColor Yellow
Write-Host "------------------------------------" -ForegroundColor Yellow
Write-Host
choco install dropbox
choco install googledrive
 
Write-Host
Write-Host "Installing Git and Git tools..." -ForegroundColor Yellow
Write-Host "-------------------------------" -ForegroundColor Yellow
Write-Host
choco install git
choco install git-credential-winstore
choco install git-flow-dependencies
choco install gitpad
choco install poshgit

Write-Host
Write-Host "Installing Visual Studio & tools..." -ForegroundColor Yellow
Write-Host "-------------------" -ForegroundColor Yellow
Write-Host
choco install dotnet4.5.1 
choco install VisualStudioCommunity2013
choco install VS2013SDK
choco install ncrunch2.vs2013
choco install resharper
choco install dotpeek

Write-Host
Write-Host "Installing Visual Studio Extensions..." -ForegroundColor Yellow
Write-Host "--------------------------------------" -ForegroundColor Yellow
Write-Host
Install-ChocolateyVsixPackage "AddEmptyFile" https://visualstudiogallery.msdn.microsoft.com/3f820e99-6c0d-41db-aa74-a18d9623b1f3/file/140782/6/AddAnyFile.vsix
Install-ChocolateyVsixPackage "Encourage" https://visualstudiogallery.msdn.microsoft.com/1f3afebb-06c7-4b77-a54f-eb2f0784008d/file/135535/8/Encourage.vsix
Install-ChocolateyVsixPackage "PowerShellTools" https://visualstudiogallery.msdn.microsoft.com/c9eb3ba8-0c59-4944-9a62-6eee37294597/file/112013/14/PowerShellTools.vsix
Install-ChocolateyVsixPackage "ProductivityPowerTools" https://visualstudiogallery.msdn.microsoft.com/dbcb8670-889e-4a54-a226-a48a15e4cace/file/117115/4/ProPowerTools.vsix
Install-ChocolateyVsixPackage "SpecFlow" https://visualstudiogallery.msdn.microsoft.com/90ac3587-7466-4155-b591-2cd4cc4401bc/file/112721/3/TechTalk.SpecFlow.Vs2013Integration.vsix
Install-ChocolateyVsixPackage "SpellChecker" https://visualstudiogallery.msdn.microsoft.com/a23de100-31a1-405c-b4b7-d6be40c3dfff/file/104494/5/VSSpellCheckerPackage.vsix
Install-ChocolateyVsixPackage "WebEssentials" https://visualstudiogallery.msdn.microsoft.com/56633663-6799-41d7-9df7-0f2a504ca361/file/105627/37/WebEssentials2013.vsix
Install-ChocolateyVsixPackage "SideWaffleTemplatePack" https://visualstudiogallery.msdn.microsoft.com/a16c2d07-b2e1-4a25-87d9-194f04e7a698/referral/110630
Install-ChocolateyVsixPackage "xUnit" https://visualstudiogallery.msdn.microsoft.com/463c5987-f82b-46c8-a97e-b1cde42b9099/file/66837/20/xunit.runner.visualstudio.vsix
Install-ChocolateyVsixPackage "TaskRunnerExplorer" https://visualstudiogallery.msdn.microsoft.com/8e1b4368-4afb-467a-bc13-9650572db708/file/140636/3/TaskRunnerExplorer.vsix
Install-ChocolateyVsixPackage "PackageIntellisense" https://visualstudiogallery.msdn.microsoft.com/65748cdb-4087-497e-a394-2e3449c8e61e/file/138140/16/JSON%20Intellisense.vsix

Write-Host
Write-Host "GhostDoc must be manually installed." -ForegroundColor Red
Write-Host

Write-Host
Write-Host "Installing Node, NPM, Gulp, etc..." -ForegroundColor Yellow
Write-Host "----------------------------------" -ForegroundColor Yellow
Write-Host
choco install nodejs.install
npm install bower -g
npm install -g gulp
npm install -g yo
npm install -g generator-hottowel

Write-Host
Write-Host "Enabling Web Services..." -ForegroundColor Yellow
Write-Host "------------------------" -ForegroundColor Yellow
Write-Host
choco install IIS-WebServerRole -source WindowsFeatures
choco install IIS-ISAPIFilter -source WindowsFeatures
choco install IIS-ISAPIExtensions -source WindowsFeatures
 
Write-Host
Write-Host "Enabling ASP.NET..." -ForegroundColor Yellow
Write-Host "-------------------" -ForegroundColor Yellow
Write-Host
choco install IIS-NetFxExtensibility45 -source WindowsFeatures
choco install NetFx4Extended-ASPNET45 -source WindowsFeatures
choco install IIS-ASPNet45 -source WindowsFeatures

Write-Host
Write-Host "Configuring IIS..." -ForegroundColor Yellow
Write-Host "------------------" -ForegroundColor Yellow
Write-Host
try {
  Import-Module WebAdministration
} catch {
  Write-Host
  Write-Host "First run will always fail. todo: Add reboot command." -ForegroundColor Red
  Write-Host
  throw
}

Remove-WebSite -Name "Default Web Site" -ErrorAction SilentlyContinue

New-WebAppPool -Name croquetscores.com -Force -ErrorAction SilentlyContinue
Set-ItemProperty IIS:\AppPools\croquetscores.com -Name "enable32BitAppOnWin64" -Value $Enable32BitAppOnWin64
New-Website -Name croquetscores.com -ApplicationPool croquetscores.com -Id 2 -Port 8082 -PhysicalPath "C:\Users\Tim\Code\ScoreLines\croquetscores.com\Artifacts\Website" -Force -ErrorAction SilentlyContinue

Install-WindowsUpdate -AcceptEula
