Enable-MicrosoftUpdate
Install-WindowsUpdate -AcceptEula

Set-StartScreenOptions -EnableBootToDesktop -EnableDesktopBackgroundOnStart -EnableShowStartOnActiveScreen -DisableShowAppsViewOnStartScreen -DisableSearchEverywhereInAppsView -EnableListDesktopAppsFirst
Set-WindowsExplorerOptions -EnableShowHiddenFilesFoldersDrives -DisableShowProtectedOSFiles -EnableShowFileExtensions -DisableShowFullPathInTitleBar

choco install notepad2-mod
choco install mysql

Install-WindowsUpdate -AcceptEula
