Enable-MicrosoftUpdate
Install-WindowsUpdate -AcceptEula

Set-StartScreenOptions -EnableBootToDesktop -EnableDesktopBackgroundOnStart -EnableShowStartOnActiveScreen -DisableShowAppsViewOnStartScreen -DisableSearchEverywhereInAppsView -EnableListDesktopAppsFirst
Set-WindowsExplorerOptions -EnableShowHiddenFilesFoldersDrives -DisableShowProtectedOSFiles -EnableShowFileExtensions -DisableShowFullPathInTitleBar

choco install notepad2-mod
choco install lastpass
choco install DotNet4.5.2
choco install git-credential-winstore
choco install git
choco install gitpad
choco install jenkins

# Required to compile Visual Studio solutions.
choco install microsoft-build-tools 

Install-WindowsUpdate -AcceptEula